$primary-color: #282c34;
$secondary-color: #61dafb;
$background: #fff;
$primary: #1aac83;
$error: #e7195a;



// PX
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;
$spacer-6: 40px;
$spacer-7: 48px;
$spacer-8: 64px;
$spacer-9: 80px;
$spacer-10: 96px;
$spacer-11: 112px;
$spacer-12: 128px;