@import '../../../../sass/base//global';
@import '../../../../sass/abstracts/variables';


.dropDown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.buttonToggle{
    color:$text-color;
    font-size: $fourteen;
    background-color: $background-color;
    // border: 1px solid $lp-border-color;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    align-content: center;
    align-self: center;
    // padding:5px 10px;
    border: none;
	padding: 0;
}


.buttonLabel{
    text-align: center;
    background-color: $background-color;
}

.icon{
    color:$text-color-variant;
    transform: rotate(90deg);
    position:absolute;
    right:10px;
    color: $text-color;
}

.dropDownMenu{
    margin-top: 5px;
    background: $surface-color;
    position: absolute;
    padding:5px;
    // left: 20px;
    // width: calc(100vw - 40px);
    top: 85px;
    right: 0;
    width: 200px;
    line-height: 20px;
}

.dropDownMenuItem{
    font-weight: 300;
    color: $text-color-menu-item;
    list-style: none;
    text-align: left;
    padding: 5px 7px;
    font-size: $fourteen;
    
}

.dropDownMenuItem:hover{
    color:$primary-color
}

.buttonToggle:hover{
    color: $primary-color;
}

.icon{
    color:inherit;
}

/* 900px */
@media only screen and (min-width: 56.25rem) {
}


/* 900px */
@media only screen and (max-width: 56.25rem) {
}